<!DOCTYPE html>
<html {{ function("language_attributes") }}>
  <head>
    {% block head %}
      {% include "partials/head.twig" %}
    {% endblock %}
  </head>

  <body class="{{ body_class }}">
    {% block header %}
      {% include "partials/header.twig" %}
    {% endblock %}

    <main role="main" class="main">
      {% block content %}

      {% endblock %}
    </main>

    {% block footer %}
      {% include "partials/footer.twig" %}
    {% endblock %}
  </body>
</html>
