<!DOCTYPE html>
<html lang="{{ craft.app.language |slice(0,2) }}" class="no-js">
  <head>
    {% block head %}
      {% include "partials/_head.twig" %}
    {% endblock %}
  </head>

  <body class="{{ body_class ?? '' }}">
    <a href="#mainContent" class="u-visually-hidden">Skip to main Content</a>
    <a href="#mainNav" class="u-visually-hidden">Skip to main navigation</a>
    {% block header %}
      {% include "partials/_header.twig" %}
    {% endblock %}

    <main role="main" id="mainContent" class="main">
      {% block content %}
      {% endblock %}
    </main>

    {% block footer %}
      {% include "partials/_footer.twig" %}
    {% endblock %}
    
    {% block bodyScripts %}
    {% endblock %}
  </body>
</html>
